<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="class"ion-padding="">
  <ion-input [(ngModel)]="email" placeholder="Email"></ion-input>
  <ion-input [(ngModel)]="password" type="password" placeholder="Constraseña"></ion-input>
  <ion-button expand="full" (click)="login()">Iniciar sesión</ion-button>
  <ion-button expand="full" fill="outline" (click)="register()">Registrarse</ion-button>

  <p **ngIf="error" style="color: red;">{{error}}</p>
</ion-content>
